
@import '../../../scss/variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-gap: 1em;
  margin: 0;
  padding: 40px 0;

  .featuredImage {
    height: auto;
  }

  .smallTitle {
    color: $nobel;
    font-size: 12px;

    .featured {
      text-transform: uppercase;
      color: $safety-orange;
    }

    .date {
      border-left: 1px solid $liver;
      margin-left: 10px;
      padding-left: 10px;
      text-transform: uppercase;
    }
  }

  .mediumTitle {
    margin: 30px 0;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 1.1em;
    text-transform: uppercase;
    padding-left: 30px;
    color: $paynes-grey;
    position: relative;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: start;
    margin-left: 35px;
    font-weight: 400;

    &::before {
      content: '';
      display: block;
      position: absolute;
      transform: skewX(-30deg);
      transform-origin: 0 100%;
      left: 0;
      background: $safety-orange;
      width: 7px;
      height: 30px;
      top: 4px;
    }
  }

  .shortDescription {
    color: $paynes-grey;
    font-size: 14px;
    margin-bottom: 35px;
  }

  .readMore {
    cursor: pointer;
    padding-right: 15px;
    font-size: 12px;
    color: $black;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 7px;
      height: 12px;
      background: url(/public/arrow-orange-right.svg) no-repeat left center;
      right: 0;
      top: 52%;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: 900px) {
  .wrapper {
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 320px) {
  .wrapper {
    padding: 0;
    margin-bottom: 15px;

    a,
    picture,
    img {
      max-width: 320px;
    }

    .articleDescription {
      padding: 0 15px;
      max-width: 320px;

      .mediumTitle {
        margin: 30px 0;
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 375px) {
  .wrapper {
    a,
    picture,
    img {
      max-width: 375px;
    }

    .articleDescription {
      max-width: 375px;
    }
  }
}

@media (min-width: 414px) {
  .wrapper {
    a,
    picture,
    img {
      max-width: 414px;
    }

    .articleDescription {
      max-width: 414px;
    }
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin: 15px 0;
    justify-content: center;

    a,
    picture,
    img {
      max-width: 610px;
    }

    .articleDescription {
      max-width: 100%;

      .mediumTitle {
        margin: 20px 0 25px;
        font-size: 36px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, 504px);
  }
}

@media (min-width: 1366px) {
  .wrapper {
    margin: 40px 0;
    grid-template-columns: repeat(auto-fit, 600px);
  }
}
