@import '../../../../scss/variables';

.drawlerToggle {
  width: 20px;
  height: 20px;
  grid-column-start: 4;
  grid-column-end: 4;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  align-self: center;

  span {
    display: block;
    background: $white;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }
}

@media (min-width: 500px) {
  .drawlerToggle {
    display: none;
  }
}
