
@import '../../scss/variables';

.breadcrumbElements {
  display: none;
}

@media (min-width: 1024px) {
  .breadcrumbElements {
    padding: 10px 0;
    font-size: 11px;
    display: block;

    .breadcrumbElement {
      color: $paynes-grey;
      text-transform: uppercase;
      padding: 1px 5px 0 8px;

      a {
        text-decoration: none;
        color: $black;
        outline: medium none;
      }

      &:not(:last-child) {
        &::after {
          content: '';
          display: inline-block;
          position: relative;
          transform: skewX(-30deg);
          transform-origin: 0 100%;
          left: 5px;
          background: #ff6c0c;
          width: 2px;
          height: 8px;
          top: 1px;
        }
      }
    }
  }
}
