@import '../../../../scss/variables';

.menuItem {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 21px;
  border-bottom: 2px solid $paynes-grey;
  width: 100%;
  list-style: none;
  transition: all 0.3s ease-out;

  &:hover {
    border-bottom: 2px solid $safety-orange;
  }

  .menuLink {
    text-decoration: none;
    color: $paynes-grey;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-out;
    padding: 25px 3px 20px 3px;

    &:hover,
    &:active {
      color: $safety-orange;
      border-bottom: 2px solid $safety-orange;
    }
  }
}

@media (min-width: 500px) {
  .menuItem {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;

    &:hover {
      border-bottom: 2px solid transparent;
    }

    .menuLink {
      color: $white;
    }
  }
}
